

body {
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    font-family: 'Barlow Semi Condensed', sans-serif;
}

.leftNav {
    margin:0;
    padding:0;
    width: 64px;
    height: 100vh;
    background-color: #FFFFFF;
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.middleColumn {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.headerNav {
    background-color: rgb(255,255,255,0.8);
    height: 64px;
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}

.mainPagenav {
    overflow: hidden;
    background-color: white;
    /* padding: 90px 10px; Large padding which will shrink on scroll (using JS) */
    transition: 0.4s; /* Adds a transition effect when the padding is decreased */
    top: 0; /* At the top */
    height: 64px;
    display: inline-block;
    z-index: 99;
    position: sticky;
    text-align: center;
}

.disciplineNav {
    color: rgb(199, 160, 75);
}


.mainContent {
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(40rem,1fr));
    grid-gap: 1rem;
    background-color: #ffffff;
}

.caseStudy {
    background-color: #d6d6d6;
    height: 70vh;

}

.footer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: right;
    height: 64px;
    background-color:#FFFFFF;
    font-weight: 100;
    font-size: small;
    color: #BBBBBB;
}

.rightNav{
    width: 64px;
    height: 100vh;
    background-color: #FFFFFF;
    position: sticky;
    top: 0;
}

.icon:after {
    content: ""; /* This is necessary for the pseudo element to work. */ 
    display: block; /* This will put the pseudo element on its own line. */
    margin: 0 auto; /* This will center the border. */
    width: 48px; /* Change this to whatever width you want. */
    /* padding-top: 20px; This creates some space between the element and the border. */
    border-bottom: 1px solid #DDDDDD; /* This creates the border. Replace black with whatever color you want. */
}

.filterIcon:before {
    content: ""; /* This is necessary for the pseudo element to work. */ 
    display: block; /* This will put the pseudo element on its own line. */
    margin: 0 auto; /* This will center the border. */
    width: 48px; /* Change this to whatever width you want. */
    /* padding-top: 20px; This creates some space between the element and the border. */
    border-top: 1px solid #DDDDDD; /* This creates the border. Replace black with whatever color you want. */
}

svg {
    width: 64px;
    height: 64px;
    fill: #DDDDDD;
    transition: all .5s ease-in-out;
}

/* svg:hover {
    transform: scale(1.2);
    transition: 0.3s;
    fill: black
} */

#samicolonLogoSVG{
    fill: #505050;
}

#samicolonLogoSVG:hover {
    transform: rotate(360deg);
    transition: 0.8s;
    fill: #C7A04B;
}

#ezpickSVG:hover {
    transform: scale(1.2);
    transition: 0.5s;
    fill: #0033FF;
}

#sparkSVG:hover {
    transform: scale(1.2);
    transition: 0.5s;
    fill: #87786E;
}

#cfiaSVG:hover {
    transform: scale(1.2);
    transition: 0.5s;
    fill: #3A593D;
}

#traversedSVG:hover {
    transform: scale(1.2);
    transition: 0.5s;
    fill: #90D7D3;
}

#filterIconSVG:hover {
    transform: scale(1.2);
    transition: 0.5s;
    fill: black;
}



